---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Positivus">
  <div class="columns-2">
    <section>
      <h1 class="text-h1-mobile xl:text-h1-desktop">Navigating the digital landscape for success</h1>
      <p class="text-p-mobile xl:text-p-desktop">
        Our digital marketing agency helps businesses grow and succeed online
        through a range of services including SEO, PPC, social media marketing,
        and content creation.
      </p>
      <button class="text-h4-mobile xl:text-h4-desktop">Book a consultation</button>
    </section>
    <section class="">
      <img src="/img/hero-image.svg" alt="" />
    </section>
  </div>
</Layout>
