<header class="flex items-center justify-between">
    <img src="/img/logo.svg" alt="" class="lg:w-[13.721rem] h-auto w-[9rem] transition-all duration-300">
    <nav>
        <ul class="flex items-center justify-center text-xl">
            <li class="px-[2.188rem] py-[1.25rem]"><a href="#">About us</a></li>
            <li class="px-[2.188rem] py-[1.25rem]"><a href="#">Services</a></li>
            <li class="px-[2.188rem] py-[1.25rem]"><a href="#">Use Cases</a></li>
            <li class="px-[2.188rem] py-[1.25rem]"><a href="#">Pricing</a></li>
            <li class="px-[2.188rem] py-[1.25rem]"><a href="#">Blog</a></li>
            <li class="px-[2.188rem] py-[1.25rem] border-[0.063rem] border-secondary rounded-xl cursor-pointer"><a href="#">Request a quote</a></li>
        </ul>
    </nav>
</header>